<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Chapter12_2</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
        
  		
        <login-config>
        <!-- if you use <auth-method> as FORM you must have inside login-config element
        <form-login-config> which inside you put form-login and form-error page
        no need explain for this common sense -->
        	<auth-method>FORM</auth-method>
        	<form-login-config>
        		<form-login-page>/loginPage.html</form-login-page>
        		<form-error-page>/loginError.html</form-error-page>
        	</form-login-config>
        </login-config> 
             
         <security-constraint>
         		<web-resource-collection>
         			<web-resource-name>Login</web-resource-name>
         			<url-pattern>/loginPage.html</url-pattern>
         			<http-method>GET</http-method>
         			<http-method>POST</http-method>
         		</web-resource-collection>
         	<auth-constraint>
         		<role-name>Admin</role-name>
         	</auth-constraint>
         </security-constraint>
    </web-app>
